.nxt{
    height: 800px;
    width:100%;
    border: 2px solid black;
    background-color: navy;
}
.square{
    height: 700px;
    width: 700px;
    border-top: 3px dashed black;
    border-right: 3px dotted blue;
    border-bottom: 3px solid forestgreen;
    border-left:3px double yellow;
    padding:5px;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 200px;
    text-align: center;
    background-color: aqua;
    color: white;
    font-size: 50px;
}
.rectangle{
    height:500px;
    width: 400px;
    border-top: 3px dashed black;
    border-right: 3px dotted red;
    border-bottom: 3px solid forestgreen;
    border-left: 3px double white;
    padding: 5px;
    margin-top: 50px ;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 150px ;
    text-align:center ;
    background-color:yellow ;
    color:white ;
    font-size: 40px; 
}
.circle{
    height: 300px;
    width: 300px;
    border-top: 3px dashed black ;
    border-bottom:3px solid forestgreen ;
    border-left:3px double red ;
    border-right:3px dotted gold;
    padding-top: 5px;
    margin-top:40px;
    margin-bottom:20px;
    margin-right:5px;
    margin-left:40px;
    border-radius:50% ;
    text-align: center ;
    background-color:palevioletred ;
    color:white ;
    font-size:30px;
}
.ellipse{
    height: 100px;
    width: 200px;
    border-top: 3px dashed black;
    border-bottom: 3px solid forestgreen;
    border-left: 3px double red;
    border-right: 3px dotted gold;
    padding-top: 10px;
    margin-top:50px ;
    margin-bottom:30px ;
    margin-left:45px ;
    margin-right:20px ;
    border-radius:100% ;
    text-align: center;
    background-color:red;
    color:white ;
    font-size: 20px;
}
.square:hover{
    background-color: black;
    height:800px ;
    width:800px ;
}
.rectangle:hover{
    background-color: blueviolet;
}
.circle:hover{
    background-color: fuchsia;
}
.ellipse:hover{
    background-color: chartreuse;
}