.static{
    color: aqua;
    background-color: black;
    text-align: center;
    position: static;
    top: 100px;
}
.absolute{
    color: black;
    background-color: aqua;
    text-align: center;
    position:absolute;
    top: 0px;
}
.relative{
    color: blue;
    background-color:black;
    text-align: center;
    position: relative;
}
.fixed{
    color: yellow;
    background-color: blueviolet;
    text-align: center;
    position: fixed;
    top: 0px;
}
.sticky{
    color: black;
    background-color: red;
    text-align: center;
    top: 50px;
    position: sticky;
}