body{
    font-family: sans-serif;
}
.where{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.when{
    margin-left: 120px;
    font-size: x-large;
    color: blue;
}
nav a{
    text-decoration: none;
    color: black;
}
.what{
    display: flex;
    gap: 20px;
    margin-right: 450px;
}
nav a:hover{
    color: blue;
}
nav a:active{
    color: red;
}
.btn{
    border: 1px solid lightgrey;
    padding: 10px 20px;
    border-radius: 5px;
}
.fine{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(to right,#d3d4fc,#d5c3f7);
}
.endu{
    display: flex;
    gap: 10px;
    justify-content: center;
}
div[class*=kite]{
    height: 220px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc;
    margin-top: 30px;

}
.btn:hover{
    color: white;
    background-color: blue;
}
div[class*=git]{
    height: 1000px;
    width: 400px;
    border-radius: 5px; 
}
.fight{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 270px;
}
.flee{
    display: flex;
    gap: 20px;
    color: blue;
}
.git1{
    margin-top: 200px;
    height: 800px;
    margin-bottom: -300px;
}
.git2{
    margin-bottom: 20px;
}
form .far{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-top: 30px;
}
.shit:hover{
    color: white;
    background-color: blue;
}
.shit{
    border: 1px solid #ccc;
    border-radius: 5px;
}
div[class*=tick]{
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    width: 720px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.lilly{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background: linear-gradient(to right,#d3d4fc,#d5c3f7);
}
.belly{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}
.belly a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}
.belly a:hover{
    background-color: blue;
    color: white;
    border: 1px solid #ccc;
}

.foot{
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;

}
.lift{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    gap: 30px;
}
div[class*=pit]{
    height:230px ;
     width: 330px;


}
.dar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dar a{
    text-decoration: none;
    color: blue;
}