body{
    font-family: sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
}
.bars{
    margin-top: 45px;
    margin-right: 455px;
    display: flex;
    gap: 20px;

}

.header{
    margin-top: 45px;
    margin-left: 100px;
    font-size: large;
    color: blue;
}
.what{
    text-align: center;
    font-size: 80px;
    margin-top: 25px;
}
.not{
    margin-left: 520px;
    font-size: 80px;
    line-height: 5px;
}
.para{
    text-align: center;
    line-height: 50px;
}
.mat{
    text-align: center;
    line-height: 10px;
    color: orange;
}
.neck{
    border: 1px solid white;
    margin-left:30px ;
    margin-right:30px ;
    background: linear-gradient(to right,#b3d4fc,#d5c3f7);
}
.but{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}
.kit{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
div[class*=item]{
    height: 200px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 2px 2px #ccc;
}
.cry{
    margin-top: 5px;
    font-size: x-large;
}
.why{
    margin-top: 5px;
    font-size: x-large;
}
.lop{
    margin-top: 5px;
    font-size: x-large;
}
.all{
    height: 70px;
}
.ai{
    height: 70px;
}
.ia{
    height: 70px;
}
.fly{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
div[class*=ball]{
    height: 520px;
    width: 570px;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 2px 2px #ccc;

}
.rav{
    border: 1px solid #eee;
    margin-top:50px ;
    margin-left: 20px;
    margin-bottom:60px ;
    margin-right: 20px;
    background-color: #f5f5f5;
}
.img{
    margin: 20px;
}
.image1{
    margin: 20px;
}
.image1 img{
    border-radius: 5%;
}
.image2{
    height: 300px;
margin: 20px;
}
.image2 img{
    border-radius: 5%;
}
.butt{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 10px;
}
div[class*=fat]{
    height: 300px;
    width: 380px;
    border: 1px solid #ccc;
    border-radius: 5%;
    margin-top: 20px;
    box-shadow: 0 2px 2px #ccc;
}
.divi{
    margin-left: 20px;
}
.livi{
    margin-left: 20px;
} 
.fifi{
    margin-left: 20px;
}
.magi{
    margin-left: 20px;
    margin-right: 20px;
}
.ipl{
    margin-left: 20px;
    margin-right: 20px;
}
.foot{
    margin: 20px;
}
.chik{
    text-align: center;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lift{
    background: linear-gradient(to right,#b3d4fc,#d5c3f7);
    padding-top: 10px;
    padding-bottom: 10px;
}
.tony{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 50px;
    background-color: #eee;
    border: 1px solid #eee;
}
div[class*=fast]{
    height: 200px;
    width: 380px;

}
.tist a{
    text-decoration: none;
}
.malli{
    padding-left: 20px;
}
.malli a{
    text-decoration: none;
    display: block;
    line-height: 25px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:blue;
}
nav a:active{
    color: red;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: -10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.btn:hover{
    background-color: blue;
    color: white;
}
.ott{
    display: inline-block;
    margin-top: 15px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 20px;
}
.ott:hover{
    background-color: blue;
    color: white;
}
.kkk{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}
.kkk:hover{
    color: white;
    background-color: blue;
}
 .ttt{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 5px;
}
.ttt:hover{
    color: white;
    background-color: blue;
}
.lap{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}
.lap:hover{
    color: white;
    background-color: blue;
}
.pal{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 5px;
}
.pal:hover{
    color: white;
    background-color: blue;
}
.king{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #eee;
    background: linear-gradient(to right,#b3d4fc,#d5c3f7);
}
.naak{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.naak a{
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.naak a:hover{
    color: white;
    background-color: blue;
}
.ara{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #eee;
    background-color: #eee;
}
.aqua{
    display: flex;
    margin-top: 40px;
   justify-content: space-around;
   margin-left: 50px;
    gap: 40px;
}
div[class*=era]{
    height: 230px;
    width: 330px;
}
.weed{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.weed a{
    text-decoration: none;
}





