body{
    font-family: sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.list{
    display: flex;
    gap: 30px;
    margin-right: 400px;
}
.sec{
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(to right,#d3d4fc,#d5c3f7);
    border: 1px solid #ccc;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: blue;
}
nav a:active{
    color: red;
}
.btn{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn:hover{
    color: white;
    background-color: blue;
}
.main{
    margin-top: 120px;
}
div[class*=cat]{
    height: 500px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc;
}
.main{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.fat{
    width: 350px;
    height: 520px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc;
    margin-top: -10px;
}
form .far{
    display: flex;
    gap: 20px;
    margin-left: 180px;
}
.kit{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
div[class*=lop]{
    height: 400px;
    width: 480px; 
}
.lift{
    height:440px;
    width: 480px;
    margin-top: -20px;
    margin-bottom: 30px;
}
.foot{
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.lih{
    display: flex;
    margin-top: 60px;
    gap: 30px;
    margin-left: 120PX;
}
div[class*=git]{
    height: 230px;
    width: 330px;
}
.live a{
    text-decoration: none;
    color: blue;
}
.live{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.git2{
    margin-left: 100px;
}
form input{
    border-radius: 5px;
    border: 1px solid #ccc;
}
.ink{
    margin-left: 180px;
    margin-top: 40px;
}
.nik{
    margin-left: 180px;
    margin-top: 10px;
}
.lol:hover{
    color: white;
    background-color: blue;
    
}



